**Практическая часть:**

In [19]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [20]:
# Создаём сэмпл
n_samples = 500

age_owner = np.random.choice(90, n_samples) + 21
length = np.random.choice(120, n_samples) + 15
width = np.random.choice(80, n_samples) + 10

price = length * width * 100

data = pd.DataFrame({'age_owner': age_owner, 'length': length, 'width': width, 'price': price})
data.head(5)

   age_owner  length  width   price
0        101      26     54  140400
1         38      62     78  483600
2         84      86     58  498800
3         47      28     44  123200
4         39      25     12   30000

In [21]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 123.48959858 5050.99481201 7296.42859651]
Bias: -377065.55678856134
Error: 63238.23663845841

In [22]:
X = data[['length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [5046.61049704 7290.64859266]
Bias: -368322.1083313864
Error: 63156.33095741898

In [23]:
# Создаем новый признак
data['mult'] = data['length'] * data['width']
data.head(5)

   age_owner  length  width   price  mult
0        101      26     54  140400  1404
1         38      62     78  483600  4836
2         84      86     58  498800  4988
3         47      28     44  123200  1232
4         39      25     12   30000   300

In [24]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 0.0
Error: 5.945184966549277e-11

**Домашняя часть:**

In [68]:
# Создаём синтетический дата сет
n_samples = 500

age_consumer = np.random.choice(90, n_samples) + 21
square_meters = np.random.choice(30, n_samples) + 15
rooms = np.random.choice(5, n_samples) + 1

price = square_meters * rooms * 250000

data = pd.DataFrame({'age_consumer': age_consumer, 'square_meters': square_meters, 'rooms': rooms, 'price': price})
data.head(-1)

     age_consumer  square_meters  rooms     price
0              93             22      1   5500000
1              65             37      2  18500000
2              22             15      4  15000000
3              66             44      4  44000000
4              50             38      4  38000000
..            ...            ...    ...       ...
494            40             38      1   9500000
495            92             25      4  25000000
496            79             37      2  18500000
497            97             37      4  37000000
498            86             20      4  20000000

[499 rows x 4 columns]

In [69]:
X = data[['age_consumer', 'square_meters', 'rooms']]
y = data['price']
reg = LinearRegression().fit(X, y)
print(f'Weights: {reg.coef_}')
print(f'Bias: {reg.intercept_}')

pred_values = reg.predict(data[['age_consumer', 'square_meters', 'rooms']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-1.39433291e+03  7.82138929e+05  7.44723887e+06]
Bias: -23344873.309987053
Error: 2257359.9078653012

In [88]:
# Создаем новый признак 1
data['rooms_and_square_meters'] = data['rooms'] * 100000 + data['square_meters'] * 200000
data.head(5)

,age_consumer,square_meters,rooms,price,rooms_and_square_meters,formula_for_calculating_the_price
0,93,22,1,5500000,4500000,5500000
1,65,37,2,18500000,7600000,18500000
2,22,15,4,15000000,3400000,15000000
3,66,44,4,44000000,9200000,44000000
4,50,38,4,38000000,8000000,38000000

In [89]:
X = data[['rooms_and_square_meters']]
y = data['price']
reg = LinearRegression().fit(X, y)
print(f'Weights: {reg.coef_}')
print(f'Bias: {reg.intercept_}')

pred_values = reg.predict(data[['rooms_and_square_meters']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [4.15981291]
Bias: -4264252.575629063
Error: 8889463.617358886

In [90]:
# Создаем новый признак 2
data['formula_for_calculating_the_price'] = data['square_meters'] * data['rooms'] * 250000 
data.head(5)

,age_consumer,square_meters,rooms,price,rooms_and_square_meters,formula_for_calculating_the_price
0,93,22,1,5500000,4500000,5500000
1,65,37,2,18500000,7600000,18500000
2,22,15,4,15000000,3400000,15000000
3,66,44,4,44000000,9200000,44000000
4,50,38,4,38000000,8000000,38000000

In [91]:
X = data[['formula_for_calculating_the_price']]
y = data['price']
reg = LinearRegression().fit(X, y)
print(f'Weights: {reg.coef_}')
print(f'Bias: {reg.intercept_}')

pred_values = reg.predict(data[['formula_for_calculating_the_price']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1.]
Bias: -3.725290298461914e-09
Error: 1.652166247367859e-09

1) Создали дата сет с информацией о стоимости квартир
2) Решили построить линейную модель на исходных данных 
3) Изучали влияние каждого признака на стоимость квартиры
4) Создал дополнительный признак на основе square_meters и rooms
5) Предположил, что цена за квартиру линейно зависит двух атрибутов по формуле data['rooms'] * 100000 + data['square_meters'] * 200000
6) Предположение оказалось ложным, тк ошибка была огромна
7) Подставил формулу, по которой составлял цену, в признаке 2 => Нашел точное описание цены аналитически от признака formula_for_calculating_the_price