**Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

1. если источник traffic_source равен yandex или google, то в source_type ставится organic
2. для источников paid и email из России - ставим ad
3. для источников paid и email не из России - ставим other
4. все остальные варианты берем из traffic_source без изменений

In [3]:
import pandas as pd
log = pd.read_csv('/Users/macbook/Desktop/Data1Science/Python/Lecture13/Python_12_pivot_and_str/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [21]:
log.loc[log.traffic_source.isin([ 'yandex', 'google']), 'source_type'] = 'organic'
log.loc[(log.region == 'Russia') & (log.traffic_source.isin([ 'paid', 'email'])) , 'source_type'] = 'ad'
log.loc[(log.region != 'Russia') & (log.traffic_source.isin([ 'paid', 'email'])) , 'source_type'] = 'other'
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [50]:
# def type_(row):
#     if row['traffic_source'] in ["yandex", "google"]:
#         return 'organic'
# log['source_type'] = log.apply(type_, axis=1)
# log.head()

**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [65]:
import re
urls = pd.read_csv('/Users/macbook/Desktop/Data1Science/Python/Lecture13/Python_12_pivot_and_str/URLs.txt')
urls['check'] = urls.url.str.contains(pat=r'/\d{8}-', regex=True)

In [66]:
urls.head()

                                                 url  check
0                                            /world/  False
1                                           /latest/  False
2                                      /?updated=top  False
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...   True
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...   True

**Задание 3.**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [67]:
from pymystem3 import Mystem

In [69]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [82]:
def share(param):
    m = Mystem()
    lemmas = m.lemmatize(param)
    del(lemmas[-1])
    return ' '.join(lemmas)

In [83]:
data['lemmas'] = data.keyword.apply(share)

In [84]:
data.head()

                 keyword   shows                     lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   keyword  4 non-null      object
 1   shows    4 non-null      int64
 2   lemmas   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes